.bg{
    width: 100%;
    height: 100%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
    .return_home{
      position: absolute;
      bottom: 6%;
      left: 50%;
      transform: translate(-50%);
      .return_home_click{
          width: 240px;
          height: 80px;
          background: #3f88d3;
          font-size: 30px;
          font-family: FZLanTingHei-R-GBK;
          font-weight: 400;
          color: #FFFFFF;
      }
  }
}
.jurisdiction{
  height: 100vh;
  font-size: 30px;
}