.bg {
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 0;
    -webkit-overflow-scrolling:touch; /*加上这个让浏览器支持touch和自动滚动这样界面就能够滚动了*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-y:scroll;
    padding-bottom: 20px;
    .signin_suc{
        height: 100%;
        .firstchild {
            height: 50%;
            input {
                width: 500px;
                height: 80px;
                background: #ffffff;
                border-radius: 5px;
                font-size: 24px;
                font-weight: 400;
                color: #666666;
                text-indent: 26px;
            }
            input::-webkit-input-placeholder {
                font-size: 24px;
                font-weight: 400;
                color: #666666;
            }
            input.error::-webkit-input-placeholder{
                color:red;
            }
        }
        .lastchild{
            height: 34%;
            .public_go{
                width: 240px;
                height: 80px;
                background: #3f88d3;
                font-size: 30px;
                font-weight: 400;
                color: #FFFFFF;
                &.isTrue{
                    color: red;
                }
            }
        }
    }
    .signin_no{
        height: 100%;
        .success_side{
            height: 50%;
            font-size: 72px;
            font-family: FZLanTingHeiS-B-GB;
            font-weight: 600;
            color: #003C74;
        }
        .Seat_number{
            font-size: 24px;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: #003C74;
            height: 7%;
        }
        .number_text{
            font-size: 60px;
            font-family: Microsoft YaHei;
            font-weight: 600;
            color: #003C74;
            height: 7%;
        }
        .return_home{
            height: 20%;
            .return_home_click{
                width: 240px;
                height: 80px;
                background: #3f88d3;
                font-size: 30px;
                font-family: FZLanTingHei-R-GBK;
                font-weight: 400;
                color: #FFFFFF;
            }
        }
    }
}
.jurisdiction{
    height: 100vh;
    font-size: 30px;
}
