.bg{
  width:100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  z-index: 0;
  -webkit-overflow-scrolling:touch; /*加上这个让浏览器支持touch和自动滚动这样界面就能够滚动了*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y:scroll;
  padding-bottom: 20px;
  .bulletChat{
    min-height: 140px;
  }
  .detailImg{
    width: 750px;
    img{
      width: 100%;
    }
  }
  .SmallTarget{
    width:82%;
    margin:40px auto 30px;
    h2{
      font-size: 26px;
      font-family: FZLanTingHeiS-DB1-GBK;
      font-weight: 400;
      color: #003C74;
    }
    div{
      font-size: 24px;
      font-family: FZLanTingHei-R-GBK;
      font-weight: 400;
      color: #003C74;
      line-height: 40px;
      margin-top: 18px;
    }
  }
  .btn{
    width:82%;
    margin:40px auto 30px;
    .center{
      width: 20px;
    }
    .bj{
      width: 274px;
      height: 73px;
      box-sizing: border-box;
      background-image: url(../../assets/img/bigImg/bj.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      div:nth-of-type(1){
        width: 31px;
        img{
          width: 100%;
        }
      }
      div:nth-of-type(2){
        font-size: 26px;
        font-family: FZLanTingHeiS-R-GB;
        font-weight: 400;
        color: #003C74;
      }
    }
  }
  .bottomList{
    width: 82%;
    min-height: 80px;
    border-radius: 15px;
    margin: 0 auto;
    border: 2px solid rgba(119, 193, 255, 0.4);
    background-color:rgba(74, 74, 74,.6);
      
    
  .item_top_zanList{
    display: flex;
    margin: 25px 25px 0 25px;
    padding-bottom: 20px;
    &::before{
      border-color:rgba(255,255,255,.3)
    }
    .item_left{
      margin-right:16px;
      .Img{
        width: 28px;
        margin-top: 18px;
        
        img{
          width: 100%;
        }
      }
    }
    .item_right{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      .Img{
        width: 58px;
        height: 58px;
        margin: 6px 6px 6px 0;
        img{
          width: 100%;
          border-radius:5px;
        }
      }
    }
  }
  .item_top_message{
    display: flex;
    margin: 25px 25px 0 25px;
    &::before{
      border-color:rgba(255,255,255,.3)
    }
    .item_top_message_left{
      margin-right:16px;
      .Img{
        width: 28px;
        img{
          width: 100%;
        }
      }
    }
    .item_top_message_right{
      width: 90%;
      >div{
       padding:20px 0;
        &::before{
          border-color:rgba(255,255,255,.3)
        }
        &:first-child{
          padding-top:0;
        }
      }
      .Img{
        width: 62px;
        height: 62px;
        img{
          width: 100%;
          border-radius:5px;
        }
      }
      .right{
        margin-left: 10px;
        .rightName{
          font-size: 24px;
          font-family: FZLanTingHei-M-GBK;
          font-weight: 400;
          color: #99CCFF;
        }
        .rightMess{
          font-size: 20px;
          font-family: FZLanTingHei-R-GBK;
          font-weight: 400;
          color: #fff;
          word-break: break-all;
        }
      }
    }
}
.talkMessage{
  padding: 20px 35px 20px 28px;
  div{
    font-size: 23px;
    font-family: FZLanTingHei-R-GBK;
    font-weight: 400;
    color: #E6E6E6;
  }
  input{
    font-size: 22px;
    width: 380px;
    font-family: FZLanTingHei-R-GBK;
    color: #E6E6E6;
    border: none;
    background: none;
    padding: 2px 0;
  }
  input::placeholder{
    font-size: 22px;
    font-family: FZLanTingHei-R-GBK;
    font-weight: 400;
    color: #E6E6E6;
    line-height: 20px;
    opacity: .4;
  }
  .sendBtn .send{
    width: 90px;
    height: 40px;
    background: #3F88D3;
    font-size: 18px;
    color: #FFFFFF;
    border-radius:5px;
  }
  
}
}
}
.bottomRutern{
  margin: 40px 0 30px 0;
  &.haveLike{
    margin: 145px 0 30px 0;
  }
  .returnBtn{
    background: #3F88D3;
    color: #fff;
    width: 240px;
    height: 80px;
    font-size: 30px;
    font-family: FZLanTingHei-R-GBK;
    font-weight: 400;
    color: #FFFFFF;
    opacity: .8;
  }
}

.bottomRuternTrem{
  margin: 170px 0 30px 0;
}
/deep/ .menu{
  width: 82%;
  min-height: 178px;
  position: relative;
  background-color: #FFF;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  padding-bottom: 20px;
  box-sizing: border-box;
}
/deep/ .menu:before,.menu:after {
  content: "";
  display: block;
  border-width: 20px;
  position: absolute;
  top: -40px;
  left: 100px;
  border-style: dashed dashed solid;
  border-color: transparent transparent #fff;
  font-size: 0;
  line-height: 0;
}
.menu:after {
  top: -33px;
  border-color: transparent transparent #FFF;
}
 /deep/ .menuItem{
    padding: 30px 28px;
    box-sizing: border-box;
   div{
    display: flex;
    flex-wrap: wrap;
    div{
      padding: 7px 18px;
      background: #e4e4e4;
      border-radius: 20px;
      font-size: 22px;
      font-family: FZLanTingHei-R-GBK;
      font-weight: 400;
      color: #666666;
      margin: 10px 0;
      margin-left: 10px;
      &.active{
        background: rgba(189, 222, 252, 1);
        color: rgba(0, 60, 116, 1);
      }
    }
   }
  }
/deep/.menuBtn .seccessmenu{
      width: 156px;
      height: 50px;
      background: #3F88D3;
      border-radius: 15px;
      font-size: 24px;
      font-family: FZLanTingHei-R-GBK;
      font-weight: 400;
      color: #FFFFFF;
      margin-left: 70%;
}
.jurisdiction{
  height: 100vh;
  font-size: 30px;
}